{
  "bracketSpacing": true,
  "printWidth": 80,
  "singleQuote": true,
  "semi": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "tabWidth": 4,
        "singleQuote": false
      }
    }
  ]
}
